.ArticleSummary a {
  text-decoration: none;
  font-family: Helvetica;
  font-weight: 400;
}

.ArticleSummary p {
  color: #aaa;
  margin-top: 20px;
}

.card {
  text-align: left;
  width: 457px;
  height: 486px;
  background-color: transparent;
  position: relative;
  float: left;
  margin-bottom: 50px;
  margin-right: 50px;
}
