.Bio {
  display: flex;
  margin-bottom: 0.375rem;
  display: flex;
  float: left;
}

.Bio img {
  border-radius: 50%;
  flex-shrink: 0;
  height: 2.5rem;
  width: 2.5rem;
  margin-bottom: 0px;
  margin-right: 0.875rem;
}

.mane {
  position: absolute;
}

.desc {
  font-family: Helvetica;
  font-size: 12px;
  color: #1c3643;
}
