.title {
  font-family: Helvetica;
  font-size: 2.5rem;
  font-weight: 900;
  line-height: 3.5rem;
  margin-top: 0px;
  margin-bottom: 2.625rem;
  text-rendering: optimizeLegibility;
}

.Wrapper {
  max-width: 1120px;
  width: 95%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: -220px auto 100px auto;
  margin: 100px auto;
  z-index: 99;
}

.Container {
  max-width: 1120px;
  width: 95%;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}

/*
.Contenidoimagen {
  border: solid 1px #f00;
  position: relative;
  float: left;
  z-index: 10;
}

.Contenidotexto {
  border: solid 1px #0f0;
  margin-left: 450px;
  margin-top: 75px;
  position: absolute;
  padding: 48px;
  z-index: 11;
  background-color: #fff;
  width: 640px;
  height: 236px;
  box-sizing: border-box;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.08), 0 0 1px rgba(0, 0, 0, 0.08);
  border-radius: 3px;
  color: #2e3333;
  font-family: Helvetica;
}

.Contenidoimagen1 {
  margin-left: 529px;
  position: relative;
  float: left;
  z-index: 10;
}

.Contenidotexto1 {
  position: absolute;
  margin-top: 75px;
  padding: 48px;
  z-index: 11;
  background-color: #fff;
  width: 640px;
  height: 236px;
  box-sizing: border-box;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.08), 0 0 1px rgba(0, 0, 0, 0.08);
  border-radius: 3px;
  color: #2e3333;
  font-family: Helvetica;
}

.Contenidoimagen2 {
  margin-left: -550px;
  position: relative;
  float: left;
  z-index: 10;
}

.Contenidotexto2 {
  margin-left: -107px;
  position: absolute;
  margin-top: 75px;
  padding: 48px;
  z-index: 11;
  background-color: #fff;
  width: 640px;
  height: 236px;
  box-sizing: border-box;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.08), 0 0 1px rgba(0, 0, 0, 0.08);
  border-radius: 3px;
  color: #2e3333;
  font-family: Helvetica;
}
*/
.title a {
  color: #555;
  text-decoration: none;
  font-family: Helvetica;
}

.articlesList,
.articlesList > li {
  list-style: none;
  padding: 0;
  margin: 0 0 2.625rem;
}

.containerindex {
  width: 100%;
  background-color: #f3f3f6;
  display: block;
  position: absolute;
}

.headerindex1 {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(90deg, #1c3643 0, #273b47 25%, #1e5372);
  width: 100%;
  height: 700px;
}

.headerindex1::before {
  content: " ";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 200px;
  background: #f3f3f6;
  clip-path: polygon(100% 50%, 0 100%, 100% 100%);
  margin-bottom: 0px;
  top: 500px;
}

.headerindex2 {
  margin: 20px;
}

.titulodelblog {
  width: 1120px;
  height: auto;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

.titulodelblog h1 {
  color: white;
  z-index: 3;
  padding-top: 50px;
  font-family: Helvetica;
  font-size: 60px;
  font-weight: bold;
}

.titulodelblog p {
  position: relative;
  top: 20px;
  color: white;
  font-family: Helvetica;
  font-weight: 200;
  font-size: 14px;
}

.titulodelblog a {
  position: relative;
  top: 40px;
  background-color: #35495e;
  padding: 18px 36px;
  border-radius: 5px;
  color: white;
  font-family: Helvetica;
  font-weight: 200;
  font-size: 14px;
}

.postdelblog {
  width: 1020px;
  height: auto;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}
