.title {
  font-family: Helvetica;
  font-weight: 900;
  line-height: 1.1;
  text-rendering: optimizeLegibility;
}
.title > a {
  position: relative;
  text-decoration: none;
  margin-top: 100px;
}

.headercontent {
  height: 400px;
  width: 100%;
  background-color: #f6f6f6;
  border-bottom: 1px solid #ccc;
}

.header {
  width: 70%;
  height: 350px;
  background-color: #f6f6f6;
  border-bottom: 1px #f4f4f4;
  margin-bottom: 10px;
  margin: 0px auto;
}

.header::before {
  content: "";
  position: absolute;
  top: 100px;
  left: 14%;
  margin: 0px auto;
  width: 5px;
  height: 350px;
  border-radius: 5px;
  background-color: #95ca3e;
}

.header .title {
  font-size: 2.5rem;
  margin-bottom: 0;
  margin-left: 0%;
}
.header .title > a {
  color: #1c3643;
  font-family: Helvetica;
  top: 70px;
}

.footer {
  margin-top: 7rem;
}
.footer .title {
  font-size: 1.44rem;
  margin-top: 0;
  margin-bottom: 2.4rem;
}
.footer .title > a {
  color: var(--primary-color-light);
}

.bio {
  margin-bottom: 7rem;
  margin-left: 0%;
  margin-top: 100px;
  margin-right: 3%;
  font-family: Helvetica;
  color: #1c3643;
}

.Sharebutton {
  margin-top: -100px;
}

.related {
  width: 60%;
  height: auto;
  padding: 3rem;
  text-align: center;
  margin-left: 19%;
}

.previousDetails {
  width: 25%;
  height: 200px;
  padding: 3rem;
  background-color: #fff;
  position: relative;
  float: left;
  margin-left: 25%;
  border-radius: 20px;
  box-shadow: 0 9px 18px #ccc;
  transition: transform 0.3s; /* Animation */
  margin-bottom: 50px;
}

.previousDetails:hover {
  transform: scale(
    1.1
  ); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  border: 1px solid #ddd;
}

.nextDetails {
  width: 25%;
  height: 200px;
  padding: 3rem;
  background-color: #fff;
  position: relative;
  float: left;
  margin-left: 3%;
  border-radius: 20px;
  box-shadow: 0 9px 18px #ccc;
  transition: transform 0.3s; /* Animation */
  margin-bottom: 50px;
}

.nextDetails:hover {
  transform: scale(
    1.1
  ); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  border: 1px solid #ddd;
}

.relatedtittle {
  font-family: Helvetica;
  color: #1c3643;
  margin-bottom: 40px;
}

.content hr {
  background: hsla(0, 0%, 0%, 0.2);
  border: none;
  height: 1px;
}

.content h2,
.content h3,
.content h4,
.content h5,
.content h6 {
  font-weight: 900;
  font-family: Helvetica;
  line-height: 1.1;
  margin-top: 3.5rem;
  text-rendering: optimizeLegibility;
}

/**
* Based on copypasta from Remy Bach and Sarah Drasner
*/
.content code,
.content pre {
  color: white;
  font-family: Consolas, Menlo, Monaco, source-code-pro, Courier New, monospace;
  font-feature-settings: normal;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  tab-size: 4;
  hyphens: none;
}

/* Code blocks */
.content pre {
  overflow: auto;
  padding: 1em;
}

.content :not(pre) > code,
.content pre {
  background: hsla(0, 0%, 0%, 0.9);
}

.content pre::-moz-selection,
.content pre::selection {
  background: hsl(207, 4%, 16%);
}

/* Text Selection colour */
.content pre::-moz-selection,
.content pre ::-moz-selection {
  text-shadow: none;
  background: hsla(0, 0%, 100%, 0.15);
}

.content pre::selection,
.content pre ::selection {
  text-shadow: none;
  background: hsla(0, 0%, 100%, 0.15);
}

/* Inline code */
.content :not(pre) > code {
  border-radius: 0.3em;
  background: rgba(255, 229, 100, 0.2);
  color: #1a1a1a;
  padding: 0.15em 0.2em 0.05em;
  white-space: normal;
}
.content a > code {
  color: var(--primary-color);
}

.content :global(.highlighted-line) {
  background-color: hsla(207, 95%, 15%, 1);
  display: block;
  margin-right: -1em;
  margin-left: -1em;
  padding-right: 1em;
  padding-left: 0.75em;
  border-left: 0.25em solid #ffa7c4;
}

.content :global(.token.attr-name) {
  color: rgb(173, 219, 103);
  font-style: italic;
}

.content :global(.token.comment) {
  color: rgb(99, 119, 119);
}

.content :global(.token.string),
.content :global(.token.url) {
  color: rgb(173, 219, 103);
}

.content :global(.token.variable) {
  color: rgb(214, 222, 235);
}

.content :global(.token.number) {
  color: rgb(247, 140, 108);
}

.content :global(.token.builtin),
.content :global(.token.char),
.content :global(.token.constant),
.content :global(.token.function) {
  color: rgb(130, 170, 255);
}

.content :global(.token.punctuation) {
  color: rgb(199, 146, 234);
}

.content :global(.token.selector),
.content :global(.token.doctype) {
  color: rgb(199, 146, 234);
  font-style: "italic";
}

.content :global(.token.class-name) {
  color: rgb(255, 203, 139);
}

.content :global(.token.tag),
.content :global(.token.operator),
.content :global(.token.keyword) {
  color: #ffa7c4;
}

.content :global(.token.boolean) {
  color: rgb(255, 88, 116);
}

.content :global(.token.property) {
  color: rgb(128, 203, 196);
}

.content :global(.token.namespace) {
  color: rgb(178, 204, 214);
}
