.container1 {
  margin: 0 auto;
  max-width: 100vw;
}

.title {
  font-family: Helvetica;
  font-size: 1.44rem;
  font-weight: 100;
  line-height: 1.1;
  margin-top: 0;
  margin-bottom: 0;
  text-rendering: optimizeLegibility;
}
.title > a {
  color: var(--primary-color-light);
  text-decoration: none;
}

.navbar {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
  top: 0;
  width: 100%;
  background-image: linear-gradient(90deg, #1c3643 0, #273b47 25%, #1e5372);
  color: white;
}

.navbarlogo {
  max-width: 1120px;
  width: 95%;
  margin: 0 auto;
  padding-top: 40px;
}

.blog {
  text-decoration: none;
  color: white;
  font-family: Helvetica;
  font-weight: 400;
  font-size: 18px;
}

.blog:hover {
  color: #95ca3e;
}
