/* Position and sizing of burger button */
.bm-burger-button {
  position: absolute;
  width: 36px;
  height: 30px;
  right: 36px;
  top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #95ca3e;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #95ca3e;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
  background-color: #95ca3e;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #fff;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

/* General sidebar styles */
.bm-menu {
  background: #fff;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #95ca3e;
}

/* Wrapper for item list */
.bm-item-list {
  color: #95ca3e;
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

.menu-item {
  text-decoration: none;
  color: #95ca3e;
  margin: 10px;
  font-family: Helvetica;
  font-weight: bold;
}

.menu-item:hover {
  text-decoration: none;
  color: #95ca3e;
}

.menu-item1 {
  text-decoration: none;
  color: #1c3643;
  margin-bottom: 20px;
}

.menu-item1:hover {
  text-decoration: none;
  color: #1c3643;
}
