.NotFound {
  text-align: center;
}

.depresion {
  margin-top: 5%;
  margin-bottom: 5%;
}

.depresiontittle {
  margin-top: 3%;
  margin-bottom: 3%;
  color: #1c3643;
  font-family: Helvetica;
  font-weight: 400;
}

.title {
  font-family: Helvetica;
  font-size: 2.5rem;
  font-weight: 900;
  line-height: 3.5rem;
  margin-top: 0px;
  margin-bottom: 2.625rem;
  text-rendering: optimizeLegibility;
}
.title a {
  color: #555;
  text-decoration: none;
  font-family: Helvetica;
}

.articlesList,
.articlesList > li {
  list-style: none;
  padding: 0;
  margin: 0 0 2.625rem;
}

.footer {
  margin-top: 0rem;
  margin-left: 40rem;
  margin-bottom: 0rem;
}

.containerindex1 {
  padding: 1rem;
  width: 100%;
  background-color: #f3f3f6;
  display: block;
}

.containerindex {
  width: 100%;
  background-color: #f3f3f6;
  display: block;
  position: absolute;
}

.card {
  padding: 1rem;
  margin-top: 2%;
  width: 50%;
  background-color: #fff;
  margin-left: 25%;
  border-radius: 10px;
  box-shadow: 0 9px 18px #ccc;
  transition: transform 0.3s; /* Animation */
  margin-bottom: 2%;
}

.card:hover {
  transform: scale(
    1.1
  ); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  border: 1px solid #ddd;
}

.headerindex1 {
  text-align: center;
  background-image: url("./../assets/img/header.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 400px;
  margin-top: 0px;
}

.headerindex2 {
  text-align: center;
  margin: 20px;
}

.item {
  padding: 10px 16px;
  margin: 20px;
  font-family: Helvetica;
  font-size: 14px;
  font-weight: 400;
  color: #7b7b7f;
}

.item:hover {
  padding: 10px 16px;
  margin: 20px;
  background-color: #ccc;
  border-radius: 30px;
  font-family: Helvetica;
  font-size: 14px;
  font-weight: 400;
  color: white;
}

.itemactive {
  padding: 10px 16px;
  margin: 20px;
  background-color: #95ca3e;
  border-radius: 30px;
  font-family: Helvetica;
  font-size: 14px;
  font-weight: 400;
  color: white;
}

.itemactive:hover {
  padding: 10px 16px;
  margin: 20px;
  background-color: #95ca3e;
  border-radius: 30px;
  font-family: Helvetica;
  font-size: 14px;
  font-weight: 400;
  color: white;
}

.item1 {
  padding: 10px 16px;
  margin: 20px;
  background-color: #0791e6;
  border-radius: 8px;
  color: white;
  font-family: Helvetica;
  font-size: 14px;
  font-weight: 400;
}

.item1:hover {
  color: white;
  background-color: #0791e6;
}

.headerindextittle {
  text-align: center;
  color: #95ca3e;
  z-index: 3;
  padding-top: 160px;
  font-family: Helvetica;
  font-size: 60px;
  font-weight: bold;
}

.select {
  width: 50%;
  height: 50px;
  margin-left: 25%;
  margin-top: 30px;
}

.selecttittle {
  position: relative;
  color: #1c3643;
  font-family: Helvetica;
  font-weight: bold;
  float: left;
}

.select1 {
  transition: all 0.3s ease;
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  transition-delay: 0s;
  position: relative;
  color: #95ca3e;
  font-family: Helvetica;
  width: 200px;
  height: 40px;
  left: 69%;
}
