.Sharebutton {
  position: absolute;
  padding: 10px;
  margin-top: 40px;
}

.Sharebutton1 {
  position: absolute;
  float: left;
}

.Sharebutton2 {
  position: absolute;
  float: left;
  left: 60px;
}

.Sharebutton3 {
  position: absolute;
  float: left;
  left: 110px;
}

.Sharebutton4 {
  position: absolute;
  float: left;
  left: 160px;
}
