.tags {
  font-family: Helvetica;
  font-size: 18px;
  font-weight: 900;
  line-height: 1.1;
  margin-top: 1.7rem;
  margin-bottom: 2.4rem;
  text-rendering: optimizeLegibility;
  list-style: none;
  text-align: center;
  top: 200px;
}

.headerindex1 {
  text-align: center;
  background-image: url("./../assets/img/header.svg");
  width: 100%;
  height: 400px;
  margin-top: 0px;
}

.headerindex2 {
  text-align: center;
  margin: 20px;
}

.item {
  padding: 10px 16px;
  margin: 20px;
  font-family: Helvetica;
  font-size: 14px;
  font-weight: 400;
  color: #7b7b7f;
}

.item:hover {
  padding: 10px 16px;
  margin: 20px;
  background-color: #ccc;
  border-radius: 30px;
  font-family: Helvetica;
  font-size: 14px;
  font-weight: 400;
  color: white;
}

.itemactive {
  padding: 10px 16px;
  margin: 20px;
  background-color: #95ca3e;
  border-radius: 30px;
  font-family: Helvetica;
  font-size: 14px;
  font-weight: 400;
  color: white;
}

.itemactive:hover {
  padding: 10px 16px;
  margin: 20px;
  background-color: #95ca3e;
  border-radius: 30px;
  font-family: Helvetica;
  font-size: 14px;
  font-weight: 400;
  color: white;
}

.item1 {
  padding: 10px 16px;
  margin: 20px;
  background-color: #0791e6;
  border-radius: 8px;
  color: white;
  font-family: Helvetica;
  font-size: 14px;
  font-weight: 400;
}

.item1:hover {
  color: white;
  background-color: #0791e6;
}

.headerindextittle {
  text-align: center;
  color: #95ca3e;
  z-index: 3;
  padding-top: 160px;
  font-family: Helvetica;
  font-size: 60px;
  font-weight: bold;
}
