.logo {
  position: relative;
  left: 0;
  margin: 0 auto;
  overflow: hidden;
}

.contenido {
  max-width: 70%;
  text-align: justify;
  margin-top: 5%;
  margin-left: 15%;
}

.Welcome {
  position: absolute;
  margin-top: 0px;
}

.logo-navi,
.logo-react {
  width: 100%;
  height: auto;
}

@keyframes Index-logo-navi-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes Index-logo-react-spin {
  from {
    transform: rotate(330deg);
  }
  to {
    transform: rotate(-30deg);
  }
}
