@import url("https://fonts.googleapis.com/css?family=Merriweather:400,400i,700,700i,900|Montserrat:900");

:root {
  --primary-color: #2e3333;
  --primary-color-light: #aaa;
}

:global * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

:global html {
  color: rgba(0, 0, 0, 0.9);
  font: 100%/1.75 Helvetica;
  list-style: none;
  max-width: 100vw;
  overflow-x: hidden;
}

:global body {
  font-kerning: normal;
  font-family: Helvetica;
  font-feature-settings: "kern", "liga", "clig", "calt";
  font-weight: 100;
  margin: 0;
  padding: 0;
  word-wrap: break-word;
  list-style: none;
  max-width: 100vw;
  overflow-x: hidden;
}

:global(pre),
:global(code) {
  font-family: Consolas, Menlo, Monaco, source-code-pro, "Courier New",
    monospace;
  font-size: 0.85rem;
  line-height: 1.5;
  list-style: none;
}
:global pre {
  border-radius: 10px;
  overflow: auto;
  padding: 1em;
  list-style: none;
}

:global a {
  color: var(--primary-color);
  text-decoration: none;
  list-style: none;
}
:global a:hover {
  text-decoration: none;
  list-style: none;
  color: #95ca3e;
}

:global p,
:global pre,
:global ul,
:global ol {
  margin-top: 0;
  margin-bottom: 1.75rem;
  text-align: none;
  list-style: none;
}
